// @import 'libs/vars';
// @import 'libs/functions';
// @import 'libs/mixins';
// @import 'libs/skel';
// @import '../css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cousine:400,700|Noto+Sans+JP:300|Roboto:900&display=swap');

// @import "css-grid";


	
// Base.

	// @import 'base/page';
	@import 'base/breakpoints';
	@import 'base/typography';

// Component.

	// @import 'components/section';
	// @import 'components/form';
	// @import 'components/box';
	// @import 'components/icon';
	// @import 'components/image';
	// @import 'components/list';
	// @import 'components/table';
	// @import 'components/button';
	// @import 'components/tiles';
	// @import 'components/contact-method';
	// @import 'components/spotlights';

// Layout.
@import 'layout/main';
	@import 'layout/menu';
	@import 'layout/header';
	// @import 'layout/banner';
	
	@import 'layout/contact';
	@import 'layout/footer';
	// @import 'layout/wrapper';
	

// helper.

@import 'helper/hover';
@import 'helper/number';
@import 'helper/global';
@import 'helper/skillChart';

@keyframes text-glitch {
  0% {
    transform: translate(0);
    text-shadow:
      2px 0 #ff00ff,
      -2px 0 #00ffff;
  }

  20% {
    transform: translate(-2px, 1px);
    text-shadow:
      4px 0 #ff00ff,
      -1px 0 #00ffff;
  }

  40% {
    transform: translate(2px, -1px);
    text-shadow:
      1px 0 #ff00ff,
      -4px 0 #00ffff;
  }

  60% {
    transform: translate(-1px, 0);
    text-shadow:
      3px 0 #00ffff,
      -3px 0 #ff00ff;
  }

  80% {
    transform: translate(2px, 1px);
    text-shadow:
      4px 0 #ff00ff,
      -2px 0 #00ffff;
  }

  100% {
    transform: translate(0);
    text-shadow:
      2px 0 #ff00ff,
      -2px 0 #00ffff;
  }
}

.site {
  h1,
  h3,
  h5,
  h6,
  a,
  li {
    &:hover {
      animation: text-glitch 0.18s steps(2, end) infinite;
    }
  }
}