

.block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    min-height: 300px;
}

.block--#0e1111 {
    background-color: #0e1111;
    color: white;
}

.block--white {
    background-color: white;
    color: #0e1111;
}

.block__title,
.block__link {
    color: currentColor;
}



.block__link {
    padding: .5em;
    text-decoration: none;
    transition: letter-spacing 200ms ease;
}

.block__link:hover {
    letter-spacing: .1em;
}

.cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 9999999999;
  cursor: none;
  posinter-events: none;
  
  img {
    width: 100%;
  }
}