

.block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    min-height: 300px;
}

.block--dark {
    background-color: #1d1d1d;
    color: white;
}

.block--white {
    background-color: white;
    color: #1d1d1d;
}

.block__title,
.block__link {
    color: currentColor;
}



.block__link {
    padding: .5em;
    text-decoration: none;
    transition: letter-spacing 200ms ease;
}

.block__link:hover {
    letter-spacing: .1em;
}
.cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 999999999;
    transform: scale(1);
    mix-blend-mode: difference;
    background-color: rgb(255, 0, 255);
}

.cursor-follower {
    position: absolute;
   background-color: rgb(255, 0, 255);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    z-index: 99999999;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(5px, 5px);
    mix-blend-mode: difference;
}

