.light-mode .skill {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    margin: auto;
    max-width: 1200px;
    justify-content: right;
    padding: 5px;
    .box__inner {
        background: transparent;
        padding: 10px 15px;
        width: calc(100% - 30px);
        height: calc(100% - 20px);
        transition: inherit;
        border: 1px solid $black;
        .level {
            font-size: 11px;
            text-align: right;
            display: block;
        }
        .title {
            font: 700 34px/1.3 $font-title;
            margin: 0.3em 0 0;
            transition: 0.8s ease 600ms;
        }
        .titleFull {
            font: 500 12px $font-base;
            margin-top: -0.2em;
        }
      
    }

}

.light-mode .skill-container {
    width: calc(100% - 10rem);
    @include md {
          width: 100%;
    }
    h3 {
        color: transparent ;
    }
    .skills {
    margin: 0 0 30px 0;
    padding: 0;

    li {
        display: block;
        position: relative;
        background-color: transparent;
        border-bottom: 1px solid $black;
        margin: 10px 0;
        transition: width 300ms ease-in-out;
        font-size: 20px;
        .collapsed & {
            width: 0 !important;
        }

        p {
            padding: 5px;
            margin: 0;
            font-weight: normal;
            color: $black !important;
        }

        span {
            position: absolute;
            right: 10px;
            display: inline-block;
            width: 30px;
            top: 11px;
            text-align: right;
            font-weight: normal;
            color: $black;
            font-size: 11px;
        }
    }
}
}

.dark-mode .skill {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    margin: auto;
    max-width: 1200px;
    justify-content: right;
    padding: 5px;
    .box__inner {
        background: transparent;
        padding: 10px 15px;
        width: calc(100% - 30px);
        height: calc(100% - 20px);
        transition: inherit;
        border: 1px solid $white;

        .level {
            font-size: 11px;
            text-align: right;
            display: block;
        }

        .title {
            font: 700 34px/1.3 $font-title;
            margin: 0.3em 0 0;
            transition: 0.8s ease 600ms;
        }

        .titleFull {
            font: 500 12px $font-base;
            margin-top: -0.2em;
        }

    }

}

.dark-mode .skill-container {
   width: calc(100% - 10rem);
    @include md {
          width: 100%;
    }

    h3 {
        color: transparent;
    }

    .skills {
        margin: 0 0 30px 0;
        padding: 0;

        li {
            display: block;
            position: relative;
            background-color: transparent;
            border-bottom: 1px solid $white;
            margin: 10px 0;
            transition: width 300ms ease-in-out;
            font-size: 20px;

            .collapsed & {
                width: 0 !important;
            }

            p {
                padding: 5px;
                margin: 0;
                font-weight: normal;
                color: $white !important;
            }

            span {
                position: absolute;
                right: 10px;
                display: inline-block;
                width: 30px;
                top: 11px;
                text-align: right;
                font-weight: normal;
                color: $white;
                font-size: 11px;
            }
        }
    }
}