

/* Footer */

	footer {
		position: relative;
		bottom: 0; 
		padding-left: 0;
		@include md {
			padding-left: 0;
		}
		
		li {
			
			display: inline-block;
			line-height: 1;
			margin-left: 1em;
			padding-left: 1em;
			list-style: none;
			font-size: $base-size * 0.9;
			&:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}
		}

	}
	.dark-mode footer li {
		color: $white;
	}
	.light-mode footer li {
		color: $black;
	}