
/* global.css */
body {
	cursor: url('../images/target.png'),
	cursor;
	overflow-x: hidden;
	margin: 0;
	&.dark-mode {
		cursor: url('../images/target.png'),
		cursor;
		-webkit-font-smoothing: antialiased;
	background-color: #2b2b2b;
	background-image:
			linear-gradient(rgba(160, 160, 160, 0.1) 2px, transparent 2px),
			linear-gradient(90deg, rgba(160, 160, 160, 0.1) 2px, transparent 2px),
			linear-gradient(rgba(80, 80, 80, 0.1) 1px, transparent 1px),
			linear-gradient(90deg, rgba(80, 80, 80, 0.1) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
		#landing h1 {
			color: $white!important;

		}
	}
	&.light-mode {
		cursor: url('../images/target.png'),
		cursor;
		-webkit-font-smoothing: antialiased;
		background-color: #efefef;
		background-image:
			linear-gradient(rgb(243, 243, 243) 2px, transparent 2px),
			linear-gradient(90deg, rgb(243, 243, 243) 2px, transparent 2px),
			linear-gradient(rgb(247, 247, 247) 1px,
			transparent 1px),
			linear-gradient(90deg, rgb(247, 247, 247) 1px, transparent 1px);
		background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
		background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
		#landing h1 {
			color: $black!important;

		}
	}
	main {
		position: relative;
		@include md {
			padding: 20px 0px 50px;
		}
		.block {
			&__text {
				max-width: 500px;
			}
		}
	}
	section {
		// background: #faebd7;
		position: relative;
		width: calc(100% - 5em);
		height: auto;
		min-height: 300px;
		margin-bottom: 3rem;
		padding-left: 8vw;
		@include md {
			width: 100%;
			padding: 0px 20px 0px;
			
		}

	}
}




.max-h {
	height: 90vh;
}
.mb-5 {
	margin-bottom: 5rem;
}
.pr-3 {
	padding-right: 3rem;
}
.container {
	max-width: 1200px;
	@include sm {
		padding-left: 0;
	}
	
}
.section__title {
	&-main {
		position: relative;
		font-size: 15vw;
		font-weight: 300;
		font-family: $font-title;
		line-height: 0.8;
		margin-bottom: 4rem;
		color: #f3f3f3;
		text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		.numbering {
			position: absolute;
			font-family: $font-title;
			text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
			font-size: 30px;
			@include sm {
				top: -10px;
			}
		}
		.text-noir {
			color: $black;
			font-family: $font-title;
		}
	}
	&-sub {
		float: left;
		margin-bottom: 0.5em;
		font-size: 10vw;
		font-weight: 300;
		font-family: $font-title;
	}
	&-tab {
		float: left;
		font-size: 15vw;
		font-weight: 300;
		font-family: $font-title;
		line-height: 0.8;
		margin-bottom: 1rem;

	}
}

body.light-mode {
	background-color: #fff;
	color: #333;
	transition: background-color 0.3s ease;
}

body.dark-mode {
	background-color: #1a1919;
	.text-noir {
		color: rgb(129, 129, 129);
		font-family: $font-title;
	}
}
// .unactive {
// 	color: #efefef;
// 	text-shadow:
// 	-1px -1px 0 #000,
// 	1px -1px 0 #000,
// 	-1px 1px 0 #000,
// 	1px 1px 0 #000;
// }
.block-indent {
	p {
		font-size: 24px;
		margin-bottom: 0;
		line-height: 1;
	}
	.indent-1 {
		padding-left: 1rem;
	}
	.indent-2 {
		padding-left: 2rem;
	}
	.indent-3 {
		padding-left: 3rem;
		font-size: 18px;
	}
	.indent-4 {
		text-indent: 4rem;
	}
}


